#yoda-body { background: rgb(151,123,163);}

#yoda-body svg { 
  display: block;
  width: 23em;
  margin: 0 auto;
  margin-top: 0;
}

@media only screen and (max-width: 660px){
  #yoda-body svg{
    margin-right: auto;
  }
}

#yoda-body .closed-eyes {
  transition: all .1s ease;
}

#pulse {
  stroke: rgb(154,226,154);
  animation: pulse 2.5s linear infinite;
}

@keyframes pulse {
  0% { 
    stroke-width: 1;
    opacity: .4;
  }
  50% {
    stroke-width: 5;
    opacity: .2;
  }
  100% {
    stroke-width: 10;
    opacity: 0;
  }
}

.asleep {
  
  #open-eyes {
    opacity: 0;
    transition: opacity .2s ease;
  }
  
  #shadow {
    animation: shadow 3s ease-in-out infinite;
    transform-origin: 50% 50%;
  }

  #body {
    animation: bounce 3s ease-in-out infinite;
  }
  #robe-shadows {
    animation: bounce 3s ease-in-out infinite;
  }
  .foot {
      transform-origin: 50% 1%;
  }
  .sway {
      animation: sway 3s linear infinite;
      transform-origin: 50% 1%;
  }

  .antisway {
      animation: antisway 5s linear infinite;
      transform-origin: 50% 1%;
  }
  #head {
    animation: nod 5s linear infinite;
    transform-origin: 75% 75%;
  }
  .wiggle {
      animation: wiggle 5s linear infinite;
      transform-origin: 0% 100%;
  }
  .antiwiggle {
      animation: wiggle 5s linear infinite reverse;
      transform-origin: 100% 100%;
  }


  @keyframes shadow {
    0% { 
      transform: scale(1);
    }
    50% {
      transform: scale(1.08);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes bounce {
    0% { 
      transform: translateY(0%);
    }
    50% {
      transform: translateY(2%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes sway {
    0% { 
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-.2deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(.2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes antisway {
    0% { 
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(.3deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-.3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes nod {
    0% { 
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-2deg);
    }
  }

  @keyframes wiggle-left {
    0% { 
      transform: rotate(-4deg);
    }
    15% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(-4deg);
    }
    45% { 
      transform: rotate(-4deg);
    }
    65% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-4deg);
    }
  }

  @keyframes wiggle {
    0% { 
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(2deg);
    }
  }
}

.awake {
    #open-eyes {
    opacity: 1;
    }
  
  .closed-eyes {
    stroke-width: 0;
  }
  .open-eye {
    transform-origin: 50% 0;
  }
  #left-eye-lid{
    animation: lefteye 10s ease; 
  }
  #right-eye-lid {
    animation: righteye 10s ease; 
  }
  #head {
    animation: nod 10s ease;
    transform-origin: 75% 75%;
  }
  
  @keyframes lefteye {
    0% { 
      transform: translateY(0)
    }
    10% { 
      transform: translateY(-15%);
    }
    30% { 
      transform: translateY(-10%);
    }
    50% { 
      transform: translateY(0%);
    }
    52% { 
      transform: translateY(-100%);
    }
    62% { 
      transform: translateY(-50%);
    }
    70% { 
      transform: translateY(-100%);
    }
    100% { 
      transform: translateY(0);
    }
  }
  
  @keyframes righteye {
    0% { 
      transform: translateY(0)
    }
    10% { 
      transform: translateY(-15%);
    }
    30% { 
      transform: translateY(-10%);
    }
    50% { 
      transform: translateY(0%);
    }
    52% { 
      transform: translateY(-100%);
    }
    62% { 
      transform: translateY(-50%);
    }
    72% { 
      transform: translateY(-100%);
    }
    100% { 
      transform: translateY(0);
    }
  }
  
    @keyframes nod {
    0% { 
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
    100% {
      transform: rotate(-2deg);
    }
  }
  
}