:root {
  --size: 100px;  
}

.like {
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  border-radius: 999px;
  overflow: visible;
  > * {
    opacity: 0;
  }
  .stroke {
    opacity: 1;
  }
}

.sparkles {
  opacity: 1;
  path {
    stroke-dasharray: 5 5;
    stroke-dashoffset: -5;
  }
}

@media (hover: hover) {
  svg.like:hover {
    background-color: #E1255E15;
    path:last-child {
      fill: #E1255E;
    }
  }
}