
  img {
    pointer-events: none;
  }
  
//   body {
//     position: relative;
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: #f7f9fc;
//   }

@media only screen and (max-width: 900px){
    .cards .card, .cards .cards_left, .cards .cards_right{
        width: 100% !important;
        height: 500px;
    }
    .cards{
        height: max-content !important;
        flex-flow: column;
    }
}
  
.cards {
    display: flex;
    justify-content: space-between;
    // flex-flow: row wrap;
    // flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    height: 480px;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(179, 182, 209, 0.3),
      0px 1px 5px rgba(179, 182, 209, 0.5);
    border-radius: 24px;
    transition: all 0.3s ease;
  
    .card {
      position: relative;
      margin: 0;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
  
      .logo {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        i {
          opacity: 0;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 16px;
          height: 16px;
          transition-delay: 0.15s;
          transition: all 0.3s ease-in-out;
          transform: translateX(-30px);
  
          svg {
            z-index: 100;
          }
  
          &::after {
            z-index: 0;
            position: absolute;
            content: "";
            display: block;
            width: 44px;
            height: 44px;
            border-radius: 22px;
            border: 1px solid #e1e7ff;
            background-color: rgba(20, 125, 255, 0);
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transform: scale(0.4);
            transition-delay: 0.1s;
          }
        }
      }
  
      p {
        font-family: Source Han Sans SC, -apple-system, sans-serif;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #5d6494;
      }
  
      // .card-hero {
      //     display: inline-block;
      //     width: 100%;
      //     top: 0;
      //     position: absolute;
      //     left: 0;
      //     // transform: perspective(800px) rotate3d(50, -265, 40, 23deg);
      //     // box-shadow: 0 20px 50px rgba(166, 173, 202, 0.7);
      //     transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
      // }
  
      .card-hero-1 {
        position: absolute;
        top: 50%;
        width: 30%;
        left: 3%;
        transform: perspective(400px) rotate3d(-10, -200, 30, 20deg);
        transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
  
      .card-hero-2 {
        position: absolute;
        top: 45%;
        width: 25%;
        right: 6%;
        border: 1px solid #e1e7ff;
        border-radius: 3px;
        box-shadow: 17px 17px 16px rgba(40, 61, 87, 0.099666);
        transform: perspective(400px) rotate3d(-10, -200, 30, 20deg);
        transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
  
      .card-hero-gif {
        z-index: 999;
        position: absolute;
        display: inline-block;
        width: 200px;
        right: 150px;
        top: 245px;
        border: 1px solid #e1e7ff;
        border-radius: 3px;
        box-shadow: 15px 14px 16px rgba(40, 61, 87, 0.138247);
        transform: perspective(600px) rotate3d(-10, -200, 30, -20deg);
        transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
  
      .card-hero-bg {
        position: absolute;
        right: 9%;
        top: 38%;
        padding: 8px;
        width: 75%;
        border-radius: 8px;
        box-shadow: inset 0 0 10px #d2d5ef, 0 100px 50px rgba(166, 173, 202, 0.4);
        transform: perspective(600px) rotate3d(-10, -200, 30, -20deg) scale(1)
          translateX(0) translateY(0);
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-delay: 0.06s;
      }
    }
  
    &_left {
      cursor: pointer;
      width: 60%;
      padding: 40px;
      border-right: 1px solid #e1e7ff;
      transition-delay: 0.1s;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      background: transparent;
  
      p {
        z-index: 99;
      }
  
      &:hover {
        // width: 62%;
        border-color: transparent !important;
        box-shadow: 0px 20px 40px rgba(179, 182, 209, 0.25),
          0px 1px 5px rgba(179, 182, 209, 0.1);
      }
  
      .logo {
        z-index: 99;
        position: relative;
        width: 589px;
  
        &::before {
          position: absolute;
          left: 10%;
          content: "Even astronauts stumble on craters";
          width: max-content;
          height: 18px;
          display: inline-block;
        //   background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/hot.svg") no-repeat;
          background-size: cover;
        }
  
        &::after {
          position: absolute;
          left: -40px;
          content: "";
          width: 6px;
          height: 100%;
          background-color: #127cff;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          transform: translateX(-10px);
          transition: all 0.35s ease;
        }
      }
  
      &:hover {
        .card-hero-1,
        .card-hero-2 {
          animation: cardHeroOpacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
            forwards;
  
          @keyframes cardHeroOpacity {
            0%,
            40% {
              opacity: 1;
            }
  
            80%,
            100% {
              opacity: 0;
            }
          }
        }
  
        .card-hero-1 {
          transform: translateX(80%) scale(0.95) perspective(0)
            rotate3d(0, 0, 0, 0) translateY(12px);
        }
  
        .card-hero-2 {
          box-shadow: 17px 17px 16px rgba(40, 61, 87, 0) !important;
          transform: translateX(-80%) scale(0.95) perspective(0)
            rotate3d(0, 0, 0, 0) translateY(12px);
        }
  
        .card-hero-gif {
          border-color: transparent;
          box-shadow: 0 8px 16px rgba(40, 61, 87, 0.138247);
          transform: scale(1.56) perspective(0) rotate3d(0, 0, 0, 0)
            translateY(-17px) translateX(-51px);
        }
  
        .card-hero-bg {
          opacity: 0;
          transform: scale(0.8) perspective(0) rotate3d(0, 0, 0, 0)
            translateY(20px) translateX(0px);
        }
  
        i {
          opacity: 1 !important;
          transform: translateX(-20px) !important;
        }
  
        .logo {
          &::after {
            // transform: translateX(0);
          }
        }
      }
    }
  
    &_right {
      width: 40%;
      overflow: hidden;
      position: relative;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  
      &:hover {
        box-shadow: 0px 20px 40px rgba(179, 182, 209, 0.25),
          0px 1px 5px rgba(179, 182, 209, 0.1);
      }
  
      &::before {
        opacity: 0;
        z-index: 999;
        position: absolute;
        top: 47px;
        right: 30px;
        content: "";
        background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/arrow.svg") no-repeat center;
        width: 16px;
        height: 16px;
        transition-delay: 0.15s;
        transition: all 0.3s ease-in-out;
        transform: translateX(-20px);
      }
  
      &::after {
        opacity: 0;
        z-index: 999;
        position: absolute;
        top: 40px;
        left: 0;
        content: "";
        width: 6px;
        height: 32px;
        background-color: #127cff;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        transform: translateX(-10px);
        transition: all 0.35s ease;
        transition-delay: 0.05s;
      }
  
      &:hover {
        &::after {
          transform: translateX(0);
        }
  
        &::before {
          opacity: 1 !important;
          transform: translateX(-10px) !important;
        }
      }
  
      .right_card {
        z-index: 100;
        height: calc(100% / 3);
        padding: 40px;
        background: transparent;
        will-change: transform;
  
        &:nth-of-type(3) {
          .logo {
            display: flex;
            justify-content: flex-start;
            &::before {
                position: absolute;
                left: 20%;
                content: "Quote 3";
                width: max-content;
                height: 18px;
                display: inline-block;
                background-size: cover;
            }
            &::after {
              margin-left: 0;
              content: "";
              width: 30px;
              height: 18px;
              display: block;
              background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/new.svg") no-repeat;
              background-size: cover;
            }
          }
        }
        &:nth-of-type(1){
            .logo{
                &::before {
                    position: absolute;
                    left: 20%;
                    content: "Quote 2";
                    width: max-content;
                    height: 18px;
                    display: inline-block;
                    background-size: cover;
                }
            
                &::after {
                    position: absolute;
                    left: -40px;
                    content: "";
                    width: 6px;
                    height: 100%;
                    background-color: #127cff;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    transform: translateX(-10px);
                    transition: all 0.35s ease;
                  }
            }
        }
        &:nth-of-type(2){
            .logo{
                &::before {
                    position: absolute;
                    left: 20%;
                    content: "Quote 3";
                    width: max-content;
                    height: 18px;
                    display: inline-block;
                    background-size: cover;
                }
            
                &::after {
                    position: absolute;
                    left: -40px;
                    content: "";
                    width: 6px;
                    height: 100%;
                    background-color: #127cff;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    transform: translateX(-10px);
                    transition: all 0.35s ease;
                  }
            }
        }
  
        &:nth-of-type(1),
        &:nth-of-type(2) {
          border-bottom: 1px solid #e1e7ff;
        }
  
        &:hover {
          &:nth-of-type(1) {
            border-color: transparent;
          }
  
          i {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
  
      .right_hero-wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
  
        img {
          width: 100%;
          position: absolute;
          bottom: 0;
          opacity: 0;
          transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
          transform: scale(1);
          transform-origin: top;
        }
      }
    }
  }
  
  /********* animation ***********/
  
  .pic-show {
    opacity: 1 !important;
    transform: scale(1.05) !important;
  }
  
  .right_card {
    cursor: pointer;
  
    &:nth-of-type(1) {
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  
    &:nth-of-type(2) {
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  
    &:nth-of-type(3) {
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
  
  .rightCard1-enter {
    height: 100% !important;
    border-color: transparent !important;
  }
  
  .rightCard2-enter {
    transform: translateY(-33%);
    height: 100% !important;
    border-color: transparent !important;
  }
  
  .rightCard1-leave {
    transform: translateY(-100%);
  }
  
  .rightCard2-leave {
    transform: translateY(-200%);
  }
  
  .rightCard3-enter {
    margin-top: -74% !important;
    height: 100% !important;
  
    @keyframes rightCard3 {
      0% {
        opacity: 0;
      }
  
      20% {
        opacity: 0;
      }
  
      40% {
        opacity: 0;
      }
  
      100% {
        opacity: 1;
      }
    }
  }
  
  @keyframes click {
    0% {
      opacity: 1;
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.98);
      opacity: 0.6;
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .anim-click {
    border-radius: 8px !important;
    animation: click 220ms ease-out forwards !important;
  }
  
  .rightCard3-enter-now {
    animation: rightCard3EnterNow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  
    @keyframes rightCard3EnterNow {
      0% {
        opacity: 1;
      }
  
      30%,
      100% {
        opacity: 0;
        border-color: transparent;
      }
    }
  }
  
  .rightCard2-enter-now {
    animation: rightCard2EnterNow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  
    @keyframes rightCard2EnterNow {
      0% {
        opacity: 1;
      }
  
      30%,
      100% {
        opacity: 0;
        border-color: transparent;
      }
    }
  }
  
  .rightCard1-enter-now {
    animation: rightCard1EnterNow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  
    @keyframes rightCard1EnterNow {
      0% {
        opacity: 1;
      }
  
      30%,
      100% {
        opacity: 0;
        border-color: transparent;
      }
    }
  }
  
  
  .dr {
  position: absolute;
    bottom: 16px; 
    right: 16px;
    width:100px;
  }