
  
  #features {
    width: 100%;
    height: 500px;
    background-color: #f4f4f4;
    overflow: hidden;
  }
  
  
  .main {
    width: 1500px;
    min-height: 100vw;
    height: 1000px;
    min-height: 100vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    
    .section {
      &_wave {
        width: 100%;
        height: 100%;
        transform: rotate(-45deg);
      }
    }
  }
  
  .dash {
    stroke-dasharray: 700;
    animation: dash 15s linear infinite;
    stroke: yellow;
    
    //TODO: Random position, delay and color
    
    &_0 {
      animation-delay: 0s;
    }
    
    &_1 {
      transform: translateY(100px);
      animation-delay: 2.5s;
    }
    
    &_2 {
      transform: translateY(200px);
      animation-delay: 6s;
    }
    
    &_3 {
      transform: translateY(300px);
      animation-delay: 4s;
    }
    
    &_4 {
      transform: translateY(400px);
      animation-delay: 1s;
    }
    
    &_5 {
      transform: translateY(500px);
      animation-delay: 5s;
    }
    
    &_6 {
      transform: translateY(600px);
      animation-delay: 3s;
    }
    
    &_7 {
      transform: translateY(700px);
      animation-delay: 1.5s;
    }
    
    &_8 {
      transform: translateY(800px);
      animation-delay: 5.5s;
    }
    
    &_9 {
      transform: translateY(900px);
      animation-delay: 1s;
    }
  }
  
  @keyframes dash {
    
    0% {
      stroke-dashoffset: 10;
      stroke: aqua;
    }
    
    50% {
      stroke: pink;
    }
    
    100% {
      stroke-dashoffset: 9800;
      stroke: blue;
    }
  }